<p>
  This is the home page for 
  <%= link_to "Ninjas Team", root_path %>
<!--  <a href="http://www.ninjasteam.com:3000">Ninjas Team</a> -->
</p>
<%= link_to "Contact us now!", contact_path, :class => "contactus_button round" %>
